[submodule "themes/hugo-classic"]
	path = themes/hugo-classic
	url = https://github.com/goodroot/hugo-classic
[submodule "static/css-speedproject"]
	path = static/css-speedproject
	url = https://github.com/bahorn/css-speedproject
